<!-- h3 division start -->
            <%= image_tag "img/main_image.jpeg", class:  "img-fluid", alt:"Responsive image" %>
            <h3>「りぼん」が目指すこと</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td align="left" valign="top">
                    <p class="txt">放課後等デイサービスりぼんは、児童福祉法に基づき、小学校1年生～高校3年生の障がいをお持ちのお子様を対象とした施設です。<br>
                    りぼんでは様々なレクリエーションを取り入れながら、遊んで・学んで・楽しめる施設を目指しております。また、一人一人の成長を願い、集団生活への適応や社会生活の向上など、様々な体験を通して適切な支援を行います。</p>
                    <ul class="disc">
                        <li>おうちと同じくらいリラックスできる場所づくりをします</li>
                    </ul>
                    <ul class="disc2">
                        <li>遊びの中から、子供の成長を促します</li>
                        <li>子供の成長に合わせた支援をします</li>
                        <li>ご家族にも休息の時間を…（^v^）</li>
                        <li>安心して大切なお子様を預けられる場所です</li>
                    </ul>
                    <div class="clear2"></div>
                    <p class="col-339933">学校・ご自宅への送迎サービス有り（一般車両3台　福祉車両4台完備）。</p>
                    <p>すべてのお子さまが自立し、健やかに育む環境を目指してまいります。</p></td>
                </tr>
            </table>
<!-- h3 division end --> 
            <br>
<!-- h3 division start -->
            <h3 id="app01">放課後等デイサービスとは</h3>
                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td>放課後等デイサービスとは、障がいのある小学生から高校生までのお子様が、放課後や休日に楽しく過ごしながら療育を行う場所です。<br>
                    療育の場(日常生活動作の指導、集団生活への適応訓練等)であるとともに、お子様の放課後等の居場所作りや、一時的にケアを代替することで、ご家族の日々の疲れ等をリフレッシュしてもらう家族支援サービスとしての役割も担っています。</td>
                </tr>
            </table>
<!-- h3 division end --> 
            <br>
<!-- h3 division start -->              
            <h3 id="app01">2022年1月の活動報告</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td align="center"><img src="images/202201-1.jpg" width="300"></td>
                    <td align="center"><img src="images/202201-2.jpg" width="300"></td>
                </tr>
                <tr>
                    <td align="left">1月5日<br>広島市内の神社に初詣に行きました。<br>「今年もよい年になりますように!」</td>
                    <td align="left">1月6日<br>市内電車に乗って原爆ドームまで行ったよ!電車に乗れてうれしかったよ!</td>
                </tr>
            </table>              
<!-- h3 division end -->

<!-- h3 division start -->              
            <h3 id="app01">2021年12月の活動報告</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td align="center"><img src="images/202112-1.jpg" width="300"></td>
                    <td align="center"><img src="images/202112-3.jpg" width="300"></td>
                </tr>
                <tr>
                    <td align="left">12月2日<br>クリスマスツリーに飾り付けをしたよ!<br>今年のクリスマスプレゼントは何かなあ～？</td>
                    <td align="left">12月8日 音楽会<br>スタッフのフルートとウクレレの演奏で<br>リズム遊びを楽しんだよ!</td>
                </tr>
                <tr>
                <td align="center"><img src="images/202112-2.jpg" width="300"></td>
                </tr>
                <tr>
                    <td align="left">12月11日<br>りぼんで昼食の弁当を食べてから<br>マリーナホップに出かけたよ！</td>
                </tr>
            </table>              
<!-- h3 division end -->

<!-- h3 division start -->              
            <h3 id="app01">2021年11月の活動報告</h3>
                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td align="center"><img src="images/202111-1.jpg" width="300"></td>
                    <td align="center"><img src="images/202111-3.jpg" width="300"></td>
                </tr>
                <tr>
                    <td align="left">11月3日<br>畑に行ってさつまいもを収穫したよ！<br>さつまいもご飯やさつまいも汁を作って食べたよ！</td>
            <td align="left">11月13日<br>りぼんで昼食の弁当を食べてから<br>比治山公園に出かけたよ！</td>
                </tr>
                <tr>
                    <td align="center"><img src="images/202111-2.jpg" width="300"></td>
                </tr>
                <tr>
                <td align="left">11月25日<br>12月の壁面飾りでクリスマスツリーをつくったよ！デカルコマニーをしてつくったよ！</td>
                </tr>
            </table>              
<!-- h3 division end --> 

<!-- h3 division start -->
            <h3 id="app01">2021年10月の活動報告</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td align="center"><img src="images/202110-1.jpg" width="300"></td>
                    <td align="center"><img src="images/202110-2.jpg" width="300"></td>
                </tr>
                <tr>
                    <td align="left">10月2日<br>空城山公園（安芸郡府中町）でアスレチックを楽しんだよ！</td>
                    <td align="left">10月9日<br>「調理レク（ライスピザ）」<br>手指をきちんと消毒して調理したよ！<br>ごはん生地のピザもすごくおいしかったよ！</td>
                </tr>
                <tr>
                    <td align="center"><img src="images/202110-3.jpg" width="300"></td>
                </tr>
                <tr>
                    <td align="left">10月16日ヌマジ交通ミュージアム（広島市安佐南区）へ<br>行ってきたよ！</td>
                </tr>
            </table>
<!-- h3 division end --> 

<!-- h3 division start -->
            <h3 id="app01">2021年9月の活動報告</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <img src="images/202109-1.jpg" width="300" height="200">
                    <img src="images/202109-2.jpg" width="300" height="200">
                </tr>
                <tr>
                    <td align="left">9月11日「ピクニック」<br>みなと公園にピクニックに出かけました！<br>みんなで焼きそばを食べたよ！</td>
                    <td align="left">9月18日「ボルダリング」<br>ボルダリングにも登れるよ！<br>みんなで上まで競走中！</td>
                </tr>
                <tr>
                    <img src="images/202109-3.jpg" width="300" height="200"></>
                </tr>
                <tr>
                    9月18日「綱引き大会」<br>室内レクで綱引きを楽しみました。
                </tr>
            </table>
<!-- h3 division end --> 
            <br>             
<!-- h3 division start -->
              
              <h3 id="app01">2021年8月の活動報告</h3>
              <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                  <td align="center"><img src="images/202108-1.jpg" width="300" height="200"></td>
                  <td align="center"><img src="images/202108-2.jpg" width="300" height="200"></td>
                </tr>
                <tr>
                  <td align="left">8月12日　りぼん夏祭り<br>
夏休み恒例の夏祭りを行いました。<br>
人形すくい，ヨーヨーつり，射的，くじ引きなどを楽しみました。</td>
                  <td align="left">8月12日　りぼん夏祭り<br>
お楽しみの「くじ引き」で運だめし。<br>
何が当たるかな？</td>
                </tr>
                <tr>
                  <td align="center"><img src="images/202108-3.jpg" width="300" height="200"></td>
                </tr>
                <tr>
                  <td align="left">8月3日<br>　
畑に行って水遊びを楽しみました。<br>
「冷たい水で気持ちよかった！」<br>
「すいか割りもして、すいかを食べたよ！」</td>
                </tr>
              </table>
              
              <!-- h3 division end --> 
              <br>
              <!-- h3 division start -->
              
              <h3 id="app01">2017年8月の活動報告</h3>
              <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                  <td align="center"><img src="images/015.png" width="300" height="200"></td>
                  <td align="center"><img src="images/018.png" width="300" height="200"></td>
                </tr>
                <tr>
                  <td align="left">8月17日<br>
                    南区消防署見学。防護服を着せてもらったり消防車に乗せてもらったりして楽しみました。</td>
                  <td align="left">8月18日　おりづるタワー<br>
                    原爆ドームを上から見ることができるのが醍醐味。広島の観光にかかせないスポットです。 </td>
                </tr>
                <tr>
                  <td align="center"><img src="images/019.png" width="300" height="200"></td>
                  <td align="center"><img src="images/016.png" width="300" height="200"></td>
                </tr>
                <tr>
                  <td align="left">8月21日<br>
                    広島市森林公園<br>
                    昆虫館ではヘラクレスオオカブトを触れました！ラッキー！ </td>
                  <td align="left">8月23日<br>
                    NTTクレドのアクアリウム。<br>
                    幻想的な世界に引き込まれました。</td>
                </tr>
              </table>
              
              <!-- h3 division end --> 
              <br>
              
              <!-- h3 division start -->
              
              <h3 id="app01">2017年7月の活動報告</h3>
              <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                  <td align="center"><img src="images/013.png" width="300" height="200"></td>
                  <td align="center"><img src="images/017.png" width="300" height="200"></td>
                </tr>
                <tr>
                  <td align="left" valign="top"> 7月1日<br>
                    じゃがいも堀りをしました。来月また水やりに来るね。</td>
                  <td align="left">7月24日<br>
                    呉の艦船ツアーに行ってきました。<br>
                    巨大な艦船を間近で見れて子供たちも大興奮！！</td>
                </tr>
              </table>
              
              <!-- h3 division end --> 
              <br>
              
              <!-- h3 division start -->
              
              <h3>公開資料</h3>
              <h4>令和3年度 保護者等向け放課後等デイサービス評価表</h4>
              <ul class="pdf">
                <li><a href="images/ho_202111_01.pdf" target="_blank">放課後等デイサービスりぼん</a></li>
                <li><a href="images/ho_202111_02.pdf" target="_blank">放課後等デイサービスりぼん宇品西</a></li>
                <li><a href="images/ho_202111_03.pdf" target="_blank">放課後等デイサービスりぼん宇品橋</a></li>
              </ul>
              <h4>令和3年度 事業者向け放課後等デイサービス評価表</h4>
              <ul class="pdf">
                <li><a href="images/ji_202111_01.pdf" target="_blank">放課後等デイサービスりぼん</a></li>
                <li><a href="images/ji_202111_02.pdf" target="_blank">放課後等デイサービスりぼん宇品西</a></li>
                <li><a href="images/ji_202111_03.pdf" target="_blank">放課後等デイサービスりぼん宇品橋</a></li>
              </ul>

              <h4>令和2年度 保護者等向け放課後等デイサービス評価表</h4>
              <ul class="pdf">
                <li><a href="images/ho_202012_01.pdf" target="_blank">放課後等デイサービスりぼん</a></li>
                <li><a href="images/ho_202012_02.pdf" target="_blank">放課後等デイサービスりぼん宇品西</a></li>
                <li><a href="images/ho_202012_03.pdf" target="_blank">放課後等デイサービスりぼん宇品橋</a></li>
              </ul>
              <h4>令和2年度 事業者向け放課後等デイサービス評価表</h4>
              <ul class="pdf">
                <li><a href="images/ji_202012_01.pdf" target="_blank">放課後等デイサービスりぼん</a></li>
                <li><a href="images/ji_202012_02.pdf" target="_blank">放課後等デイサービスりぼん宇品西</a></li>
                <li><a href="images/ji_202012_03.pdf" target="_blank">放課後等デイサービスりぼん宇品橋</a></li>
              </ul>

              <h4>令和元年度 保護者等向け放課後等デイサービス評価表</h4>
              <ul class="pdf">
                <li><a href="images/201912_01.pdf" target="_blank">放課後等デイサービスりぼん</a></li>
                <li><a href="images/201912_02.pdf" target="_blank">放課後等デイサービスりぼん宇品西</a></li>
                <li><a href="images/201912_03.pdf" target="_blank">放課後等デイサービスりぼん宇品橋</a></li>
              </ul>
              <h4>令和元年度 事業者向け放課後等デイサービス評価表</h4>
              <ul class="pdf">
                <li><a href="images/202001_01.pdf" target="_blank">放課後等デイサービスりぼん</a></li>
                <li><a href="images/202001_02.pdf" target="_blank">放課後等デイサービスりぼん宇品西</a></li>
                <li><a href="images/202001_03.pdf" target="_blank">放課後等デイサービスりぼん宇品橋</a></li>
              </ul>
              <h4>平成30年度 保護者等向け放課後等デイサービス評価表</h4>
              <ul class="pdf">
                <li><a href="images/201812a1.pdf" target="_blank">放課後等デイサービスりぼん</a></li>
                <li><a href="images/201812a2.pdf" target="_blank">放課後等デイサービスりぼん宇品西</a></li>
                <li><a href="images/201812a3.pdf" target="_blank">放課後等デイサービスりぼん宇品橋</a></li>
              </ul>
              <h4>平成30年度 事業者向け放課後等デイサービス評価表</h4>
              <ul class="pdf">
                <li><a href="images/201812b1.pdf" target="_blank">放課後等デイサービスりぼん</a></li>
                <li><a href="images/201812b2.pdf" target="_blank">放課後等デイサービスりぼん宇品西</a></li>
                <li><a href="images/201812b3.pdf" target="_blank">放課後等デイサービスりぼん宇品橋</a></li>
              </ul>
<br>
<br>
<!-- h3 division end --> 
<br>

<!-- h3 division start -->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                <td><img src="images/ttl_info.jpg" alt="インフォメーション" width="680" height="36"></td>
                </tr>
                <tr>
                <td align="left" valign="top" background="images/info_back.jpg"><div class="infoWrap">
                    <dl>
                        <dt>2022年1月</dt>
                        <dd>ホームページを更新しました。</dd>
                        <dt>2021年12月</dt>
                        <dd>ホームページを更新しました。</dd>
                        <dt>2021年09月</dt>
                        <dd>ホームページを更新しました。</dd>
                        <dt>2021年08月</dt>
                        <dd>ホームページを更新しました。</dd>
                        <dt>2021年07月</dt>
                        <dd>ホームページを更新しました。</dd>
                        <dt>2020年01月</dt>
                        <dd>ホームページを更新しました。</dd>
                        <dt>2019年12月</dt>
                        <dd>ホームページを更新しました。</dd>
                        <dt>2019年4月</dt>
                        <dd>ホームページを更新しました。</dd>
                        <dt>2018年1月</dt>
                        <dd>ホームページを更新しました。</dd>
                        <dt>2018年12月</dt>
                        <dd>ホームページを更新しました。</dd>
                        <dt>2018年05月</dt>
                        <dd><a href="page04.html#topic">りぼんでボルダリングが楽しめるようになりました♪&gt;&gt;</a> </dd>
                        <dt>2018年03月</dt>
                        <dd>保護者様向け放課後等デイサービス評価表を掲載しました。 </dd>
                        <dt>2018年02月</dt>
                        <dd>ホームページを更新しました。 </dd>
                        <dt>2017年11月</dt>
                        <dd>3号店「放課後等デイサービスりぼん 宇品橋』オープンしました！<br>
                        住所：〒734-0014　広島県広島市南区宇品西2丁目6-62-2F<br>
                        TEL：082-250-5500　FAX：082-250-5511 </dd>
                        <dt>2017年10月</dt>
                        <dd>8月の活動報告と<a href="page04.html#staff">スタッフ紹介</a>を更新しました。</dd>
                        <dt>2017年9月</dt>
                        <dd>8月の活動報告を掲載しました。</dd>
                        <dt>2017年8月</dt>
                        <dd>7月の活動報告を掲載しました。</dd>
                        <dt>2017年3月8日</dt>
                        <dd>「魅力ある福祉・介護の職場宣言ひろしま」認定事業所として、広島県福祉・介護人材確保等総合支援協議会から公表いただきました。</dd>
                        <dt>2016年11月</dt>
                        <dd>放課後等デイサービスりぼんでは、楽しいレクを通して様々な能力の向上に努めます。</dd>
                        <dt>2016年11月</dt>
                        <dd>ホームページを公開いたしました。</dd>
                    </dl>
                    </div></td>
                </tr>
                <tr>
                <td><img src="images/info_foot.jpg" alt="" width="680" height="9"></td>
                </tr>
            </table>
<!-- h3 division end --> 