<!-- h3 division start -->
        <%= image_tag "img/main_image.jpeg", class: "img-fluid Larger shadow", alt:"Responsive image" %>
          <div class="container-fluid">
            <div class="row">
              <div class="container_1">
                <h3>「りぼん」が目指すこと</h3>
                  <p>放課後等デイサービスりぼんは、児童福祉法に基づき、小学校1年生～高校3年生の障がいをお持ちのお子様を対象とした施設です。<br>りぼんでは様々なレクリエーションを取り入れながら、遊んで・学んで・楽しめる施設を目指しております。また、一人一人の成長を願い、集団生活への適応や社会生活の向上など、様々な体験を通して適切な支援を行います。</p>
                      <ul>
                        <li>おうちと同じくらいリラックスできる場所づくりをします</li>         
                        <li>遊びの中から、子供の成長を促します</li>
                        <li>子供の成長に合わせた支援をします</li>
                        <li>ご家族にも休息の時間を…（^v^）</li>
                        <li>安心して大切なお子様を預けられる場所です</li>
                      </ul>
                  <p>学校・ご自宅への送迎サービス有り（一般車両3台福祉車両4台完備）。すべてのお子さまが自立し、健やかに育む環境を目指してまいります。</p>
              </div>
            </div>
          </div>
<!-- h3 division end --> 
            <br>
<!-- h3 division start -->
          <div class="container-fluid">
            <div class="row">
                  <div class="container_2">
                    <h3 id="app01">放課後等デイサービスとは</h3>
                    <tr>
                    <td>放課後等デイサービスとは、障がいのある小学生から高校生までのお子様が、放課後や休日に楽しく過ごしながら療育を行う場所です。<br>
                    療育の場(日常生活動作の指導、集団生活への適応訓練等)であるとともに、お子様の放課後等の居場所作りや、一時的にケアを代替することで、ご家族の日々の疲れ等をリフレッシュしてもらう家族支援サービスとしての役割も担っています。</td>
                    </tr>
            </table>
          </div>
        </div>
      </div>
<!-- h3 division end --> 
            <br>
<!-- h3 division start -->

<!-- h3 division end -->